@import "../variables";

.aboutMeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  h1 {
    border: 5px solid $accentColor;
    padding: 0rem 0.7rem;
    margin: 0.8rem 0;
  }

  .avatar {
    height: 150px;
    width: auto;
    border-radius: 100%;
  }

  .subheader {
    width: 60%;

    a {
      text-decoration: underline;
    }
  }
}

.showcaseWrapper {
  height: 80vh;
  background-color: $lightBackgroundColor;
}

.flexRow {
  flex: 1;
}

@media (max-width: 1200px) {
  .aboutMeWrapper {
    .subheader {
      width: 80%;
    }
  }
}
