@import "../variables";

.dynamicWidth {
  width: 60%;
}

.aboutMeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    border: 5px solid $accentColor;
    padding: 0rem 0.7rem;
    margin: 0.8rem 0;
  }

  .avatar {
    height: 180px;
    width: auto;
    border-radius: 100%;
  }

  .subheader {
    a {
      text-decoration: underline;
    }
  }
}

.showcaseWrapper {
  width: 100%;
  height: 80vh;
  max-height: 700px;
  background-color: $lightBackgroundColor;
}

.flexRow {
  flex: 1;
}

@media (max-width: 1200px) {
  .dynamicWidth {
    width: 80%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .aboutMeWrapper {
    padding: 3rem 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .aboutMeWrapper {
    padding: 5rem 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .showcaseWrapper {
    max-height: 400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .showcaseWrapper {
    max-height: 600px;
  }
}
