@import "../../variables";

.iconBtn {
  background: none !important;
  box-shadow: none;
  border: none;
  outline: none;

  i {
    color: $buttonColor;

    &:hover, &:focus, &:visited {
      color: $accentColor;
    }
  }
}