@import "../../variables";

.iconBtn {
  background: none !important;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: $buttonColor;
  cursor: pointer;

  i {
    font-size: 1.5rem;
  }

  &:hover, &:focus, &:visited {
    outline: none;
  }

  &:hover {
    i {
      color: $accentColor;
    }
  }

}