@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap&subset=latin-ext');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./variables";

html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  letter-spacing: 0.05rem;

  a {
    color: $buttonColor;

    &:hover {
      color: $accentColor;
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Inconsolata', monospace;
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: bold;
    color: $brandColor;
  }

  h3 {
    font-weight: bold;
    font-size: 26px;
  }

  button {
    background-color: $buttonColor;
    color: $lightColor;
    font-size: 1.5rem;
    padding: 10px 16px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
    outline: none;

    &.small {
      font-size: 1.2rem;
    }

    &:hover {
      background-color: $accentColor;
      outline: none;
    }

    &.outline {
      border: 1.5px solid $brandColor;
      background-color: transparent;
      color: $brandColor;

      &:hover {
        color: $accentColor;
        border: 1.5px solid $accentColor;
      }
    }

  }

  hr {
    border-top: 1px solid $lightBackgroundColor;
    border-radius: 5px;
    width: 91%;
    margin: 2rem auto;
  }

  .container {
    max-width: 960px;
  }

  .separator {
    padding: 2rem 0;
  }
}



@media only screen and (min-width: 320px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

