$darkColor: #212433;
$lightColor: #ffffff;
$accentColor: #0EC99D;
$secondaryColor: #A9CDDF;
$brandColor: #005B7B;
$alternateColor: #1199C7;

$lightBackgroundColor: #E5F0F5;
$extraLightBackground: #F2F7FA;
$superLightBackground: #FAFCFD;
$buttonColor: $darkColor;

